@import "./color";
@import "./settings";


html,
body,
main,
#global {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#global {
    background: $color-1;
    border-radius: $borderRadius;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: "1" "2" "3";
}

.item-1 {
    padding: 1rem;
    width: 100vw;
    grid-area: 2;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    div {
        padding: 10px;
        width: 60vw;
        height: 35vh;
        // height: 200px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 100% 0;
            border-radius: 50%;
            box-shadow: 0 0 0 2px $color-3;
        }
    }
    h1 {
        text-align: center;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        margin-top: 1.5rem;
        color: $color-5;
      }
    p {
      text-align: center;
      font-size: 0.9rem;
      text-transform: uppercase;
      letter-spacing: .1rem;
      margin-top: 1rem;
      color: $color-5;
    }

}

.item-2{
    grid-area: 1;
    padding: 2rem 1rem;
    text-align: center;
    align-items: center;
    display: grid;
    
}


.item-3{
    grid-area: 3;
    padding: 2rem 1rem;
    text-align: center;
    align-items: center;
    display: grid;
    div {
        display: flex;
        justify-content: space-evenly;
        font-size: 1.5rem;
        a{
            background-color: $color-5;
            color: $color-1;

        }
    }
}

/*----- version desktop et tablette----------*/
@media screen and (min-width:640px){
    #mobile {
      display: none;
    }
  
    #desktop div {
      border: 1px solid #000000;
      width: 60%;
      padding: 20px;
      display: flex;
      justify-content: center;
    }
    #desktop div p {
        text-align: center;
        width: 20em;
    }
    #desktop {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  @media screen and (min-width:1200px){
  
    #mobile {
      display: none;
    }
  
    #desktop div {
      border: 1px solid #000000;
      width: 60%;
      padding: 20px;
      display: flex;
      justify-content: center;
    }
    
    #desktop {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }